  <!-- FOOTER -->
  <footer>
    <h3>Connect with Developer</h3>

    <div class="social-links">
      <a href="https://www.facebook.com/jishusingh.kumar">Facebook</a>
      <a href="https://www.instagram.com/_._alone__.__lover_._/">Instagram</a>
      <a href="#">LinkedIn</a>
      <a href="https://github.com/Jishuk212">GitHub</a>
      <a href="https://x.com/INDIAN000005">Twitter</a>
    </div>

    <p>© 2026 NovaMart. All rights reserved.</p>
  </footer>

  <script>
    const toggle = document.querySelector('.menu-toggle');
    const nav = document.querySelector('.nav-links');

    toggle.addEventListener('click', () => {
      nav.classList.toggle('active');
    });
  </script>