<!-- NAVBAR -->
<div class="navbar">
    <a href="/" style="text-decoration: none;">
        <div class="logo">
        <img src="/src/OIP.webp" alt="NovaMart Logo" />
        <h2>NovaMart</h2>
        </div>
    </a>

    <div class="menu-toggle">☰</div>

    <ul class="nav-links">
        <li id="home"><a href="/" style="text-decoration: none;">Home</a></li>
        <li id="favorites"><a href="/favorites" style="text-decoration: none;">Favorites</a></li>
        <li id="booking"><a href="/booking" style="text-decoration: none;">Booking</a></li>
        <li id="cart"><a href="/cart" style="text-decoration: none;">Cart</a></li>
        <li id="listproduct"><a href="/host/list-product" style="text-decoration: none;">List Product</a></li>
        <li id="adminproduct"><a href="/host/admin-product" style="text-decoration: none;">Admin Product</a></li>
        <li id="login"><a href="/login" style="text-decoration: none;">Login</a></li>
        <li id="signup"><a href="/getSignup" style="text-decoration: none;">Signup</a></li>
    </ul>
</div>