<%- include('./partials/headSection') %>
</head>

<body>

<%- include('./partials/navbar') %>

  <!-- BODY (placeholder) -->
  <section class="hero">
    <h1>Welcome to NovaMart</h1>
    <p>Your booking home will appear hear</p>
  </section>

<%- include('./partials/footer') %>

</body>
</html>
