<%- include('./partials/headSection') %>
</head>

<body>
<%- include('./partials/navbar') %>


  <!-- BODY (placeholder) -->
  <section class="hero">
    <h1>Welcome to NovaMart</h1>
    <p>Your cart items will appear here</p>
  </section>

<%- include('./partials/footer') %>
</body>
</html>
